.white-space
%section.hero.is-light#about_us
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-5
          %figure.image.is-6by4
            %img{:alt => "Description", :src => "http://www.ruprima.com.mx/imagenes/trailers.png"}
        .column.is-6.is-offset-1
          %h2.title.is-2= t('owner_name')
          %h3.subtitle.is-4= t('job')
          %p Somos una empresa 100% Mexicana, líder en la industria de fletes y mudanza nacional y local con más de 30 años prestando nuestros servicios.
          %br
          %p En AUTOTRANSPORTES BALDERAS nos distinguimos entre otras empresas  por  cumplir con la puntualidad de entrega de sus pertenencias, con la mayor seguridad de que van y están en buenas manos, las cuales llegan en perfectas condiciones sin ningún golpe o ralladura.  Donde garantizamos nuestro servicio, ya que contamos con personal calificado para el traslado de muebles y objetos a toda la república.
      %p A nosotros nos importa que nuestros clientes pisen con el pie derecho su nuevo hogar u oficina. Es por ello que nos encargamos de hacer más fácil y seguro su traslado.
      %br
      %p A lo largo del tiempo, nuestros clientes nos recomiendan o vuelven a confiar en nosotros para sus traslados y eso nos llena de orgullo.
