%section.hero.is-light
  .hero-body
    .container
      .row
        .carousel-client
          .slide
            %img{:src => "https://www.grandvincent-marion.fr/_codepen/slider-logo1.png"}/
          .slide
            %img{:src => "https://www.grandvincent-marion.fr/_codepen/slider-logo2.png"}/
          .slide
            %img{:src => "https://www.grandvincent-marion.fr/_codepen/slider-logo3.png"}/
          .slide
            %img{:src => "https://www.grandvincent-marion.fr/_codepen/slider-logo1.png"}/
          .slide
            %img{:src => "https://www.grandvincent-marion.fr/_codepen/slider-logo2.png"}/
          .slide
            %img{:src => "https://www.grandvincent-marion.fr/_codepen/slider-logo3.png"}/
